[run]
branch = True
source = hoi/core/tests
         hoi/metrics/tests
         hoi/utils/tests
[report]
omit =
    */setup.py
    */docs/*
    */examples/*
    */io_syslog.py
    */io_dependencies.py
    
show_missing = False
# sort = Cover
